section {
  scroll-snap-align: start;
}

.hero-title span {
  animation: hueRotate 8s infinite linear;
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
