section {
  scroll-snap-align: start;
}

h2 {
  letter-spacing: 2px;
}

.border-l-4 {
  transition: border-color 0.3s ease;
}

ul li {
  transition: transform 0.3s ease;
}

ul li:hover {
  transform: translateX(6px);
  color: #fff;
}

[data-aos="fade-up"] {
  transition: all 0.8s ease-in-out;
}
